.Signup{
    text-align: center;
    margin-bottom:3px;
}
.signup{
    margin-top: 55px;
    margin-right: 100px;
}
.link{
     margin-top: 25px;
    color: blueviolet;
    font-size: 15px;
    cursor: pointer;
    text-align: left; 
} 

